/* 全局 SCSS 变量 */
$primary: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;

$sidebar-width: 220px;
$sidebar-collapse-width: 64px;
$header-height: 56px;
$tags-height: 38px;
